.POST {
    border-radius: 25px;
    min-height: 500px;
    max-width: 90%;
    background-color: #eff0f1;
    margin: 25px;
    border: #5c636a;
    border-width: 5px;
}

.POSTTITLE {
    padding-top: 10px;
    height: 10%;
}

.POSTTITLE h4 {
    display: inline;
    color: #567FC8;
    padding-right: 10px;
    text-decoration: underline;
}


.POSTTITLE h1 {
    padding-left: 15px;
    display: inline;

}

.POSTBODY {
    padding-left: 15px;
    height: 70%;
}
.POSTFOOTER{
padding-left: 15px;
}

.COMMUNITY {
    text-align: justify;
}
.POSTIMG {
    max-width: 100%;
    max-height: 90%;
}


