#/.idea/markdown.xml
#/.idea/modules.xml
#/.idea/php.xml
#/.idea/inspectionProfiles/Project_Default.xml
#/.idea/RedditsToothiestDevelopmentTwin.iml
#/.idea/vcs.xml
#/.idea/dataSources.xml
#/.idea/sqldialects.xml
#/.idea/

# MacOS files
**/.DS_Store
.DS_Store